@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  color: #333;
 }
body {
  min-height: 100%;
}

header {
  width: 100%;
}
header h1 {
  height: 80px;
  width: 100%;
  background-color: #FFE1D9;
  font-size: 32px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
}
nav {
  height: 80px;
  width: 100%;
  background-color: #FF7C7C;
  color: #fff;
  display: flex;
  justify-content: center;
}
nav ul {
  height: 70px;
  display: flex;
  align-items: center;
}
nav ul li {
  padding-right: 50px;
}
nav ul li:last-child {
  padding-right: 0px
}

.container {
  display: flex;
}
article {
  width: 80%;
}
aside {
  width: 20%;
}
section {
  width: 100%;
}
#base {
  position: relative;
}
#base img {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  min-height: 250px;
}
#base h2 {
  font-size: 32px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: white;
  position: absolute;
  left: 10%;
  top: 160px;
}
#base ul {
  width: 480px;
  margin: 40px auto 0 auto;
  padding: 20px 10px;
  background-color: #FFD99B;
  border: 2px dotted #E85454;
}
#base ul li {
  width: 300px;
  padding: 10px;
  margin: 0px auto;
}
.line {
  width: 60px;
  margin: 10px auto 34px auto;
  padding: 6px 0px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid #E85454;
}
#base p {
  text-align: center;
  margin-bottom: 60px;
}
.secTtl {
  width: 100%;
  margin: 0 0 50px 0;
  padding: 20px 0;
  background-color: #FF7C7C;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
#skill table {
  margin: 0 auto 50px auto;
  border: solid 1px #DABDBD;
}
#skill table th {
  background-color: #FCEEEE;
  border-right: solid 1px #ECECEC;
  border-bottom: solid 1px #E7D4D4;
  text-align: center;
  padding:  10px 0;
  width: 140px;
}
#skill table th:last-child {
  border-right: none;
}
#skill table td {
  text-align: center;
  border-right: solid 1px #ECECEC;
  padding: 10px 0;
}
#skill table td:last-child {
  border-right: none;
}
#hobby ol {
  margin: 0 auto 50px;
  padding: 20px;
  width: 400px;
  border: solid 1px #FF7C7C;
  list-style-type: decimal;
}
#hobby ol li {
  margin-left: 2em;
}
#pr p {
  margin: 0 auto 50px;
  padding: 20px;
  width: 630px;
  text-align: center;
  background-color: #FFF2F2;
  letter-spacing: -0.02em;
  font-weight: 500;
}
 #pr p span {
   display: inline-block;
   font-size: 20px;
   font-weight: bold;
   color: #C94040;
   margin-bottom: 20px;
   padding-bottom: 12px;
   border-bottom: dotted 1px #9C2727;
 }
 aside {
   background-color: #AED4D5;
   padding: 20px;
 }
 .linklist {
   background-color: #fff;
   padding: 20px;
 }
 .favorite, .sns {
   padding: 10px 30px 10px 24px;
   font-size: 20px;
   font-weight: bold;
 }
 .favorite {
   border-left: solid 6px #FF7C7C;
 }
 .sns {
   border-left: solid 6px #85D3D6;
 }
 .linklist {
   padding: 30px 0 0 20px;
 }
 .linklist ul li {
   padding: 0 0 20px 0;
 }
 .linklist ul li a {
   text-decoration: underline;
 }
 footer {
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
   padding: 20px;
 }