@charset "UTF-8";
html {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  box-sizing: border-box;
  color: #333;
 }
body {
  min-height: 100%;
}

header {
  width: 100%;
}
header h1 {
  height: 80px;
  width: 100%;
  background-color: #FFE1D9;
  font-size: 32px;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
}
nav {
  height: 80px;
  width: 100%;
  background-color: #FF7C7C;
  color: #fff;
  display: flex;
  justify-content: center;
}
nav ul {
  height: 70px;
  display: flex;
  align-items: center;
}
nav ul li {
  padding-right: 50px;
}
nav ul li:last-child {
  padding-right: 0px
}

.container {
  display: flex;
}
article {
  width: 80%;
}
aside {
  width: 20%;
}
section {
  width: 100%;
}
#base {
  position: relative;
}
#base img {
  width: 100%;
  object-fit: cover;
  max-height: 400px;
  min-height: 250px;
}
#base h2 {
  font-size: 32px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: white;
  position: absolute;
  left: 10%;
  top: 160px;
}
#base ul {
  width: 480px;
  margin: 40px auto 0px auto;
  padding: 20px 10px;
  background-color: #FFD99B;
  border: 2px dotted #E85454;
}
#base ul li {
  width: 300px;
  padding: 10px;
  margin: 0px auto;
}